/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Cabeçalho */
header {
    background-color: #131838;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav ul li {
    color: white;
    cursor: pointer;
}

header nav ul li.active {
    border-bottom: 2px solid red;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-image {
    width: 30px;
    height: auto;
}

.logo-container h2 {
    font-size: 24px;
    color: white;
    margin: 0;
}

header a {
    text-decoration: none;
}

.action-button {
    align-self: stretch;
    padding: 4px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: top;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.signup-button {
    border-radius: 12px;
    /* Bordas mais arredondadas */
    background-color: var(--Completa-A-Coral, #e21516);
    color: var(--Completa-A-Grayish-Blue, #0c1239);
    border: none;
    /* Remove a borda padrão */
}

.signup-button:hover {
    background-color: #c10f10;
    transform: scale(1.05);
}

.signup-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e21516;
}

.user-icon {
    font-size: 15px;
    /* Define o tamanho do ícone */
    color: white;
    text-decoration: none;
    /* Remove sublinhado */
    padding: 5px;
    /* Adiciona espaçamento interno */
    display: flex;
    /* Centraliza o ícone no contêiner */
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    /* Opcional: adiciona uma borda ao ícone */
    border-radius: 50%;
    /* Faz o ícone ficar circular */
    transition: 0.3s ease;
    /* Animação ao passar o mouse */
}

.user-icon:hover {
    color: #e21516;
    /* Muda a cor ao passar o mouse */
    border-color: #e21516;
    /* Muda a cor da borda ao passar o mouse */
}

nav ul li a {
    text-decoration: none;
    /* Remove sublinhados */
    color: #ffff;
    /* Cor padrão */
    font-size: 16px;
    /* Tamanho da fonte */
    padding: 8px 12px;
    /* Espaçamento interno */
    transition: color 0.3s ease;
    /* Efeito suave ao passar o mouse */
}

nav ul li a:hover {
    color: #e21516;
    /* Cor ao passar o mouse */
}


.sidebar-menu a {
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #131838;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar-menu a:hover {
    background-color: #e21516;
    transform: scale(1.05);
}


/* Aumentando o comprimento da sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin-left: 0;
    height: 100vh;
    /* Aumentando o comprimento para preencher toda a tela */
}

/* Alterações nos textos da sidebar */
.sidebar-content {
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    color: #413f5e;
    margin: 0 auto;
    padding: 40px 0 400px;
    font: 400 16px 'Arial', sans-serif;
    /* Mudando a fonte e o peso */
    font-weight: bold;
    /* Colocando o texto em negrito */
}

/* Alterando o tamanho da fonte do título da sidebar */
.sidebar-title {
    font-size: 32px;
    /* Aumentando o tamanho da fonte */
    font-weight: bold;
    /* Colocando o título em negrito */
    align-self: flex-start;
    margin-left: 50px;
}

.sidebar-option {
    align-self: stretch;
    background-color: #f1f1f1;
    margin-top: 40px;
    gap: 8px;
    overflow: hidden;
    font-weight: bold;
    /* Colocando em negrito */
    padding: 10px 30px;
}

.sidebar-option-alt {
    align-self: stretch;
    background-color: #ffffff;
    gap: 8px;
    overflow: hidden;
    padding: 10px 30px;
    font-weight: bold;
    /* Colocando em negrito */
}

/* Removendo sublinhado de links dentro da sidebar */
.sidebar a {
    text-decoration: none;
    /* Removendo sublinhado */
    color: inherit;
    /* Mantendo a cor do texto */
}

@media (max-width: 991px) {
    .sidebar {
        width: 100%;
        height: auto;
        /* Ajuste para telas pequenas */
    }

    .sidebar-title {
        margin-left: 10px;
        font-size: 28px;
        /* Ajustando o tamanho da fonte */
    }

    .sidebar-content {
        max-width: 100%;
        margin-top: 23px;
        padding-bottom: 100px;
    }

    .sidebar-option,
    .sidebar-option-alt {
        padding: 10px 20px;
    }
}

.main-content {
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 991px) {
    .main-content {
        max-width: 100%;
    }
}

.content-wrapper {
    gap: 10px;
    display: flex;
}

@media (max-width: 991px) {
    .content-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
    }
}

.main-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 10px;
}

@media (max-width: 991px) {
    .main-column {
        width: 100%;
    }
}

.account-info {
    display: flex;
    margin-top: 40px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 991px) {
    .account-info {
        margin-top: 20px;
    }
}

.account-info-header {
    margin-left: 20px;
    font-family: Montserrat, sans-serif;
    color: #161618;
    font-weight: bold;
    margin-bottom: 20px;
}

.account-info-title {
    font-size: 24px;
    font-weight: bold;
}

.email-update {
    display: flex;
    flex-direction: column;
    font-family: Open Sans, sans-serif;
    gap: 12px;
    font-weight: normal;
}

.email-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.email-label {
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.email-value {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
}

.email-input {
    flex: 1;
    border-radius: 4px;
    border: 1px solid rgba(130, 130, 130, 0.7);
    font-size: 14px;
    padding: 8px 15px;
    width: 400px;
    font-weight: bold;
    color: #808080;

}

@media (max-width: 991px) {
    .email-input {
        max-width: 100%;
    }
}

.password-change {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.password-field {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.password-label {
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
}

.password-input {
    flex: 1;
    border-radius: 4px;
    border: 1px solid rgba(130, 130, 130, 0.7);
    font-size: 14px;
    padding: 8px 15px;
    width: 400px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #808080;

}

@media (max-width: 991px) {
    .password-input {
        max-width: 100%;
    }
}

.submit-button {
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: #2b293d;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

@media (max-width: 991px) {
    .submit-button {
        padding: 8px 20px;
    }
}

.submit-button-senha {
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px;
    background-color: #2b293d;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

@media (max-width: 991px) {
    .submit-button {
        padding: 8px 20px;
    }
}