<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completa Aí - Detalhes do Evento</title>
    <link rel="stylesheet" href="/src/public/css/styles-event.css">
    <script src="https://kit.fontawesome.com/28fd1cdefc.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f5753f40c1c1a2d0e53642d573e22fff5d6086d58eaeef976ec40673ae371e10?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                alt="Completa Aí Logo" class="logo-image" />
            <h2>Completa Aí</h2>
        </div>
        <nav>
            <ul>
                <li id="home-link">
                    <a href="home_usuario.html">Home</a>
                  </li>
                  <li id="events-link" class="active">
                    <a href="detalhes_evento_usuario.html">Eventos</a>
                  </li>
                  <li id="about-link" >
                    <a href="sobre_usuario.html" >Sobre</a>
                  </li>
                  <li id="create-event-link">
                    <a href="criar_evento.html">Criar evento</a>
                  </li>
                  <li> <a href="perfil_usuario.html" class="user-icon"> <i class="fas fa-user"></i></a></li>
            </ul>
        </nav>
    </header>

    <section class="event-page">
        <main class="main-content">
            <section class="event-banner">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b47822a97a4b242be6f04324e786a1960d7d01d0f525b2900a2aa0bda7cb83a7?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                    class="event-banner-image" alt="Event Banner" />
            </section>

            <h1 class="event-title">Título Evento</h1>

            <section class="event-details">
                <div class="date-time">
                    <h2 class="details-title">Data e Hora</h2>
                    <div class="details-content">
                        <div class="details-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/47ab333e2c8dccc5ac7f0f6bd880ded200a518f99569e93f9c7b5cf394081f73?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c" class="details-icon" alt="Date Icon" />
                            <span class="details-text">Data</span>
                        </div>
                        <div class="details-item">
                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/42557709449ef1bef285d10cceb598c25094c3e8c997c78e05afeb09a50f5407?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c" class="details-icon" alt="Time Icon" />
                            <span class="details-text">Hora</span>
                        </div>
                    </div>
                </div>
                <button class="register-btn" onclick="openModal()">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/221e6552c64079ac72183d4aadd39426c98dd5943c072058a0f3564ae9b9de71?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c" class="register-btn-icon" alt="Register Icon" />
                    <span class="register-btn-text">Inscreva-se</span>
                </button>
            </section>

            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Faça sua Inscrição</h2>
                    <p>Confirme seus dados para se inscrever neste evento.</p>
                    <!-- Conteúdo do formulário de inscrição -->
                    <form action="inscricao_evento.html" method="POST">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" required>
                        <label for="observacoes">Observações:</label>
                        <textarea id="observacoes" name="observacoes" required></textarea>
                        <button type="submit" class="submit-btn">Inscrever-se</button>
                    </form>
                </div>
            </div>

            <section class="location-map">
                <h2 class="details-title">Localização</h2>
                <div class="details-content">
                    <div class="details-item">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a4dd1b9a9f66e042358782c8b06ee209f1e8462950e4653bf2f69a0e145061b?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                            class="details-icon" alt="Location Icon" />
                        <span class="details-text">Endereço</span>
                    </div>
                </div>
            </section>

            <section class="ticket-info">
                <h2 class="details-title">Vagas disponíveis</h2>
                <div class="details-content">
                    <div class="details-item">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f002198eedb7da9a2072634a9a29dfbe047bff7e9d997f83ab3c471996f6cc21?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                            class="details-icon" alt="Ticket Icon" />
                        <span class="details-text">Total de vagas disponíveis para completar esse evento: 5/10</span>
                    </div>
                </div>
            </section>

            <section class="host-info">
                <h2 class="host-title">Criador</h2>
                <div class="host-details">
                    <div class="host-name-actions">
                        <h3 class="host-name">Nome Criador</h3>
                        <div class="host-contact-btn">
                            <button class="host-contact-btn-text">Contato</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="event-description">
                <h2 class="description-title">Descrição do Evento</h2>
                <p class="description-content">
                    Lorem ipsum dolor sit amet consectetur. Eget vulputate sociis sit urna sit aliquet. Vivamus
                    facilisis diam libero dolor volutpat diam eu. Quis a id posuere etiam at enim vivamus. Urna nisi
                    malesuada libero enim ornare in viverra. Nibh commodo quis tellus aliquet nibh tristique lobortis
                    id. Consequat ultricies vulputate turpis neque viverra tempor nunc. Et amet massa tellus consequat
                    mauris imperdiet tellus. Praesent risus magna nisl turpis egestas ultrices viverra pellentesque
                    blandit. Rutrum consequat eu penatibus ipsum at.
                </p>
            </section>

        </main>
        <footer class="footer">
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="footer-links">
                <a href="home_usuario.html">Home</a>
                <a href="sobre_usuario.html">Sobre</a>
                <a href="home_usuario.html">Eventos</a>
                <a href="perfil_usuario.html">Perfil</a>
            </div>
            <div class="footer-copyright">
                &copy;2024 Completa Aí | All Rights Reserved
            </div>
        </footer>
    </section>

    <script>
        // Funções para abrir e fechar o modal
        function openModal() {
            document.getElementById('modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }

        // Fecha o modal ao clicar fora dele
        window.onclick = function(event) {
            const modal = document.getElementById('modal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    </script>
</body>

</html>