<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completa Aí - Eventos</title>
    <link rel="stylesheet" href="/css/eventos.css">
    <script src="https://kit.fontawesome.com/28fd1cdefc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css" rel="stylesheet">

</head>

<body>
    <!-- Cabeçalho -->
    <header id="header">
        <a href="/home">
            <div class="logo-container" id="logo-container">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f5753f40c1c1a2d0e53642d573e22fff5d6086d58eaeef976ec40673ae371e10?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                    alt="Completa Aí Logo" class="logo-image" id="logo-image" />
                <h2 id="logo-title">Completa Aí</h2>
            </div>
        </a>
        <nav id="navigation">
            <ul id="nav-list">
                <li id="home-link">
                    <a href="/home" id="home-anchor">Home</a>
                </li>
                <li id="events-link">
                    <a href="/eventos" id="events-anchor">Eventos</a>
                </li>
                <li id="about-link">
                    <a href="/sobre" id="about-anchor">Sobre</a>
                </li>
                <li id="create-event-link">
                    <a href="/criar_evento" id="create-event-anchor">Criar evento</a>
                </li>
                {{^usuarioLogado}}
                <li><a id="login-button" href="/login" class="action-button signup-button">Login</a></li>
                {{/usuarioLogado}}
                {{#usuarioLogado}}
                <li id="user-icon">
                    <a href="/perfil_usuario/{{usuarioId}}" class="user-icon" id="profile-anchor">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
                {{/usuarioLogado}}
            </ul>
        </nav>
    </header>

    <!-- Seção de Eventos -->
    <main>
        <!-- Eventos Diversos -->
        <section id="diverse-events" class="event-section">
            <h2 class="section-title">Eventos Diversos</h2>
            <section class="event-cards">
                {{#todosOsEventos}}
                <article class="event-card">
                    <div class="event-card-content">
                        <a href="/detalhes_evento/{{id}}">
                            <div class="event-image" data-category="{{categoria}}">
                                <div class="event-category">{{categoria}}</div>
                            </div>
                        </a>
                        <div class="event-details">
                            <div class="event-info">
                                <div class="event-date">
                                    <div class="event-day">
                                        <span class="data-evento-item">{{data_inicio}}</span>
                                        <span>-</span>
                                        <span class="data-evento-item">{{data_fim}}</span>
                                    </div>
                                </div>
                                <div class="event-info-content">
                                    <h2 class="event-title">{{nome}}</h2>
                                    <p class="event-venue">{{localizacao}}</p>
                                    <p class="hora-evento">
                                        <span class="hora-evento-item">{{hora_inicio}}</span>
                                        -
                                        <span class="hora-evento-item">{{hora_fim}}</span>
                                    </p>
                                    <div class="event-ticket-info">
                                        <div class="ticket-price">
                                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/db099a3a27e0f32dde481686ce1f042dad5bf03d16de98857e164107cbc9f79d?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                                                alt="" class="ticket-icon">
                                            <span class="ticket-availability">{{num_vagas}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{/todosOsEventos}}
                {{^todosOsEventos}}
                <p>Não há eventos disponíveis</p>
                {{/todosOsEventos}}
            </section>
        </section>

        <!-- Meus Eventos -->
        <section id="my-events" class="event-section">
            <h2 class="section-title">Meus Eventos</h2>
            <section class="event-cards">
                {{#eventosDoUsuario}}
                <article class="event-card">
                    <div class="event-card-content">
                        <a href="/detalhes_evento/{{id}}">
                            <div class="event-image" data-category="{{categoria}}">
                                <div class="event-category">{{categoria}}</div>
                            </div>
                        </a>
                        <div class="event-details">
                            <div class="event-info">
                                <div class="event-date">
                                    <div class="event-day">
                                        <span class="data-evento-item">{{data_inicio}}</span>
                                        <span>-</span>
                                        <span class="data-evento-item">{{data_fim}}</span>
                                    </div>
                                </div>
                                <div class="event-info-content">
                                    <h2 class="event-title">{{nome}}</h2>
                                    <p class="event-venue">{{localizacao}}</p>
                                    <p class="hora-evento">
                                        <span class="hora-evento-item">{{hora_inicio}}</span>
                                        -
                                        <span class="hora-evento-item">{{hora_fim}}</span>
                                    </p>
                                    <div class="event-ticket-info">
                                        <div class="ticket-price">
                                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/db099a3a27e0f32dde481686ce1f042dad5bf03d16de98857e164107cbc9f79d?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                                                alt="" class="ticket-icon">
                                            <span class="ticket-availability">{{num_vagas}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{/eventosDoUsuario}}
                {{^eventosDoUsuario}}
                <p>Você não criou eventos ainda</p>
                {{/eventosDoUsuario}}
            </section>
        </section>

        <!-- Eventos que estou participando -->
        <section id="subscribed-events" class="event-section">
            <h2 class="section-title">Eventos Que Estou Participando</h2>
            <section class="event-cards">
                {{#eventosInscritos}}
                <article class="event-card">
                    <div class="event-card-content">
                        <a href="/detalhes_evento/{{id}}">
                            <div class="event-image" data-category="{{categoria}}">
                                <div class="event-category">{{categoria}}</div>
                            </div>
                        </a>
                        <div class="event-details">
                            <div class="event-info">
                                <div class="event-date">
                                    <div class="event-day">
                                        <span class="data-evento-item">{{data_inicio}}</span>
                                        <span>-</span>
                                        <span class="data-evento-item">{{data_fim}}</span>
                                    </div>
                                </div>
                                <div class="event-info-content">
                                    <h2 class="event-title">{{nome}}</h2>
                                    <p class="event-venue">{{localizacao}}</p>
                                    <p class="hora-evento">
                                        <span class="hora-evento-item">{{hora_inicio}}</span>
                                        -
                                        <span class="hora-evento-item">{{hora_fim}}</span>
                                    </p>
                                    <div class="event-ticket-info">
                                        <div class="ticket-price">
                                            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/db099a3a27e0f32dde481686ce1f042dad5bf03d16de98857e164107cbc9f79d?placeholderIfAbsent=true&apiKey=a45041b1ff1c4ddc9b879ac51c79d14c"
                                                alt="" class="ticket-icon">
                                            <span class="ticket-availability">{{num_vagas}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{/eventosInscritos}}
                {{^eventosInscritos}}
                <p>Você não se inscreveu em nenhum evento ainda</p>
                {{/eventosInscritos}}
            </section>
        </section>
    </main>

    <!-- Rodapé -->
    <footer class="footer" id="footer">
        <div class="footer-social" id="footer-social">
            <a href="#" id="facebook-link"><i class="fab fa-facebook"></i></a>
            <a href="#" id="twitter-link"><i class="fab fa-twitter"></i></a>
            <a href="#" id="instagram-link"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-links" id="footer-links">
            <a href="/home" id="footer-home-link">Home</a>
            <a href="/sobre" id="footer-about-link">Sobre</a>
            <a href="/eventos" id="footer-events-link">Eventos</a>
        </div>
        <div class="footer-copyright" id="footer-copyright">
            &copy;2024 Completa Aí | All Rights Reserved
        </div>
    </footer>
    <script>
        new Splide('#diverse-carousel', { type: 'loop', perPage: 3, gap: '1rem' }).mount();
        new Splide('#my-carousel', { type: 'loop', perPage: 3, gap: '1rem' }).mount();
    </script>
    <script src="/js/script.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/header.js"></script>
</body>

</html>